.main_header {
    width: 100%;
    height: 56px;
    background-color: var(--background-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_header_container {
    display: flex;
    align-items: center;
    position: relative;
}
.header_img, .header_menu_img_close {
    padding: 1em;
}
.header_menu_img_open {
    background-image: linear-gradient(to right, #002F52,#185079);
}
.menu_list_close{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: aqua;
}
.menu_list_open {
    display: block;
}

