@import url("./header.css");
@import url("./banner.css");
@import url("./carrosel.css");

:root {
    --background-body: #EBECEE;
    --background-header: #FFFFFF;
    --text-header-title: #EB9B00;
    --color-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
.body {
    background-color: var(--background-body);
}
